<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>Angular is a platform and framework for building client applications in HTML and TypeScript. Angular is written in
    TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your
    apps.</p>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Node JS
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of
    a browser. JavaScript is used primarily for client-side scripting, in which scripts written in JavaScript are
    embedded in a webpage's HTML and run client-side by a JavaScript engine in the user's web browser. Node.js lets
    developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to
    produce dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js represents
    a "JavaScript everywhere" paradigm,[7] unifying web application development around a single programming language,
    rather than different languages for server side and client side scripts.</p>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Bootstrap
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>Bootstrap is a free and open-source front-end web framework. It contains HTML and CSS-based design templates for
    typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.
    Unlike many earlier web frameworks, it concerns itself with front-end development only.</p>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      TypeScript
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>TypeScript is an open-source programming language developed and maintained by Microsoft. It is a strict syntactical
    superset of JavaScript, and adds optional static typing to the language.TypeScript is designed for development of
    large applications and transcompiles to JavaScript.[5] As TypeScript is a superset of JavaScript, existing
    JavaScript programs are also valid TypeScript programs. TypeScript may be used to develop JavaScript applications
    for both client-side and server-side (Node.js) execution.</p>

</mat-expansion-panel>