<img src="../../assets/h1.jpg" class="img-pos">

<div class="container row">
    <span class="col-6">
        <mat-card class="example-card shadow">
            <mat-card-header>
                <mat-card-title style="font-weight: 500">Education</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Education is the process of facilitating learning, or the acquisition of knowledge, skills, values,
                    beliefs, and habits. Educational methods include storytelling, discussion, teaching, training, and
                    directed research. Education frequently takes place under the guidance of educators and also
                    learners
                    may also educate themselves. Education can take place in formal or informal settings and any
                    experience that has a formative effect on the way one thinks, feels, or acts may be considered
                    educational. The methodology of teaching is called pedagogy.
                </p>
            </mat-card-content>
        </mat-card>
    </span>
    <span class="col-6">
        <img src="../../assets/g3.jpg" class="img-fluid rounded img-width">
    </span>
</div>